.footer {
  width: 100%;
  min-height: 157px;
  background-color: #969696;
  
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  gap: 80px;                   
  padding-left: 60px;          
  box-sizing: border-box;
  color: #000000;
  font-family: sans-serif;
}
.footer-logo {
  width: 135px;
  height: 128px;
  object-fit: contain;
}
.footer-section-social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-title {
  color: #E8611A;
  font-weight: bold;
  font-size: 16px;
}
